<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <mat-card class="registration-container m-3 shadow">
          <mat-card-title class="text-center m-3">Patient Registration</mat-card-title>
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="form-group d-flex">
              <input type="text" id="firstName" placeholder="First Name" formControlName="firstName" class="form-control m-3 flex-fill mr-2">
              <input type="text" id="lastName" placeholder="Last Name" formControlName="lastName" class="form-control m-3 flex-fill ml-2">
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="registrationForm.get('firstName')?.hasError('required') && registrationForm.get('firstName')?.touched" class="text-danger">
                  First Name is required 
                </div>
            </div>  
            <div class="d-flex justify-content-center"> 
                <div *ngIf="registrationForm.get('lastName')?.hasError('required') && registrationForm.get('lastName')?.touched" class="text-danger">
                     Last Name is required
                </div>
            </div>
           
            <div class="form-group  m-3">
             <label for="BirthDate">Birth Date</label>
              <input type="date" id="dateOfBirth" placeholder="Date of Birth" formControlName="dateOfBirth" class="form-control">
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="registrationForm.get('dateOfBirth')?.hasError('required') && registrationForm.get('dateOfBirth')?.touched" class="text-danger">
                    Date of Birth is required
                  </div>
            </div>
            
            <div class="form-group m-3">
                <label for="gender">Gender</label>
                <select id="gender" formControlName="gender" class="form-control">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="registrationForm.get('gender')?.hasError('required') && registrationForm.get('gender')?.touched" class="text-danger">
                    Gender is required
                  </div>
            </div>

            <div class="form-group m-3">
              <input type="email" id="email" placeholder="Email" formControlName="email" class="form-control">
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.touched" class="text-danger">
                    Email is required
                  </div>
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="registrationForm.get('email')?.hasError('email') && registrationForm.get('email')?.touched" class="text-danger">
                    Invalid email format
                  </div>
            </div>
            
            <div class="form-group m-3">
              <input type="password" id="password" placeholder="Password" formControlName="password" class="form-control">
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched" class="text-danger">
                    Password is required
                  </div>
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="registrationForm.get('password')?.hasError('minlength') && registrationForm.get('password')?.touched" class="text-danger">
                    Password must be at least 5 characters
                  </div>
            </div>
            

            <div class="form-group m-3">
              <input type="tel" id="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber" class="form-control">
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="registrationForm.get('phoneNumber')?.hasError('required') && registrationForm.get('phoneNumber')?.touched" class="text-danger">
                    Phone Number is required
                  </div>
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="registrationForm.get('phoneNumber')?.hasError('pattern') && registrationForm.get('phoneNumber')?.touched" class="text-danger">
                    Phone Number must have exactly 10 digits
                  </div>
            </div>

            <div class="form-group m-3">
              <textarea id="address" placeholder="Address" formControlName="address" class="form-control"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="registrationForm.get('address')?.hasError('required') && registrationForm.get('address')?.touched" class="text-danger">
                    Address is required
                  </div>
            </div>

            <div class="text-center">
              <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-primary m-3">Register</button>
            </div>
            <div class="d-flex justify-content-center">
              <div *ngIf="uniquemail" class="text-danger">
                 Email Address Alredy exist
                </div>
          </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
  